:root {
    --grayScale: 0%;
    --blur: 0px;
    --brightness: 100%;
    --hueRotate: 0deg;
    --sepia: 0%;
    --borderColor: #ffc600 ;
    --borderSize: 3px;
    --borderRadius: 0%;
    --padding: 0px;
    --offsetX: 0px;
    --offsetY: 0px;
    --blurRadius: 0px;
    --spreadRadius: 0px;
    --shadowColor: #000000;
}


img {
    
    border: var(--borderSize) solid var(--borderColor) !important;
    filter: blur(var(--blur)) grayscale(var(--grayScale)) hue-rotate(var(--hueRotate)) brightness(var(--brightness)) sepia(var(--sepia)) !important;
    padding: var(--padding) !important;
    border-radius: var(--borderRadius) !important;
    box-shadow: var(--offsetX) var(--offsetY) var(--blurRadius) var(--spreadRadius) var(--shadowColor);
    
    
}


.fa-github {
    color: var(--borderColor);
    font-size: 2em;
}

.hl {
    color: var(--borderColor) !important;
}



/* below this comment do not effect image adjustments */

/*
body {
    width: 80%;
    background: #373b3d;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
    height: auto;
    margin: auto;
  }

  p {
    font-size: 2rem;
    flex: 1 1 auto;
    margin: auto;
    
    }




.header {
    margin-bottom: 1em;
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    
}

.hl {
    
    margin: auto;
    flex: 1 1 auto;
    text-align: center;
}

.form {
    flex: 1 1 auto;
    margin: auto;
    text-align: center;
}

#imageInput {
    width: 60%;
}

.imageContainer {
    
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}

.container {
    
    margin: auto;
    text-align: center;
    width: 100%;
    height: auto;
    margin-bottom: .5em;
}

  .controls {
    margin: auto;
    display: flex;
    flex-flow:  row wrap;
  }

    .input {
        display: flex;
        flex-flow: row ;
        flex: 4 1 auto;
        padding: .3em;
        box-shadow: 0px 0px 3px 1px rgba(151, 149, 149, 0.616);
        background-color: rgba(141, 145, 141, 0.473);
        
        
    }

    .input input {
        flex: 3 1 auto;
        
        font-size: 1.5em;
    }

    .input label {
        flex: 3 1 auto;
        margin: auto;
    }

  .value {
      padding: .3rem;
      margin: auto;
  }

  #borderColor {
      margin: auto;
  }

  */
  

 
